.u-section-1 .u-sheet-1 {
  min-height: 825px;
}

.u-section-1 .u-rotation-parent-1 {
  animation-timing-function: ease;
  width: 413px;
  height: 570px;
  margin: 79px 40px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 413px;
  transform-origin: center center;
  --radius: 47px;
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
}

.u-section-1 .u-group-1 {
  width: 607px;
  height: 607px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -588px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  width: 349px;
  margin: 97px auto 0;
}

.u-section-1 .u-text-2 {
  width: 421px;
  margin: 15px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  width: 421px;
  margin: 55px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  width: 421px;
  margin: 40px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 808px;
  }

  .u-section-1 .u-image-1 {
    margin: 282px -64px 0 auto;
  }

  .u-section-1 .u-group-1 {
    margin-top: -687px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 786px;
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-top: 270px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 360px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    height: 540px;
    margin-top: -666px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-left: 32px;
    margin-right: 32px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 46px;
    margin-right: 46px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 641px;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 340px;
    height: 469px;
    margin-top: 79px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 246px;
    margin-top: 282px;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    height: 340px;
    margin-top: -521px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 75px;
    padding-left: 80px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: 320px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: -67px;
  }

  .u-section-1 .u-text-4 {
    width: 320px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 649px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 59px;
  margin-bottom: 59px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 529px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-rotation-parent-1 {
  animation-timing-function: ease;
  width: 236px;
  height: 236px;
  margin: 38px auto 0 45px;
}

.u-section-2 .u-image-1 {
  width: 236px;
  height: 236px;
  transform-origin: center center;
  --radius: 21px;
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
}

.u-section-2 .u-image-2 {
  width: 225px;
  height: 225px;
  --radius: 21px;
  margin: -149px 50px 0 auto;
}

.u-section-2 .u-image-3 {
  width: 266px;
  height: 200px;
  --radius: 21px;
  margin: -59px auto 0 85px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 529px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 29px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-2 .u-shape-1 {
  width: 118px;
  height: 118px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 50px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 436px;
  }

  .u-section-2 .u-image-2 {
    inset: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 436px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 370px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 537px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 338px;
  }

  .u-section-2 .u-image-2 {
    margin-bottom: -72px;
  }

  .u-section-2 .u-image-3 {
    margin-left: 74px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 550px;
}

.u-section-3 .u-shape-1 {
  width: 525px;
  height: 550px;
  margin: 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1088px;
  margin: 51px 0 51px 52px;
}

.u-section-3 .u-image-1 {
  min-height: 488px;
  background-image: url("images/test.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 491px;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 28px;
}

.u-section-3 .u-group-1 {
  width: 468px;
  min-height: 223px;
  height: auto;
  --radius: 32px;
  margin: 42px 25px 0 auto;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 545px;
  }

  .u-section-3 .u-shape-1 {
    width: 426px;
    height: auto;
    margin: initial;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 888px;
    margin-top: 52px;
    margin-bottom: 52px;
  }

  .u-section-3 .u-image-1 {
    min-height: 471px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 261px;
    --radius: 50px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-group-1 {
    width: 394px;
    margin-right: 0;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 513px;
  }

  .u-section-3 .u-shape-1 {
    width: 324px;
    height: auto;
    margin: initial;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 668px;
    margin-top: 56px;
    margin-bottom: 50px;
  }

  .u-section-3 .u-image-1 {
    min-height: 432px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 257px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-3 .u-group-1 {
    width: 284px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 809px;
  }

  .u-section-3 .u-shape-1 {
    height: 323px;
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 431px;
    margin: -272px 54px -31px;
  }

  .u-section-3 .u-image-1 {
    min-height: 362px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 181px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 810px;
  }

  .u-section-3 .u-shape-1 {
    height: 244px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 291px;
    margin: -184px 24px 45px;
  }

  .u-section-3 .u-image-1 {
    min-height: 281px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 259px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 814px;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 65px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 50px 0 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 433px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-group-1 {
  min-height: 526px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  --radius: 21px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-3 {
  font-style: italic;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 20px 0 0;
  padding: 3px 0;
}

.u-section-4 .u-image-1 {
  height: auto;
  margin-top: 27px;
  margin-bottom: -27px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 586px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-group-2 {
  min-height: 526px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 21px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-5 {
  font-style: italic;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-4 .u-image-2 {
  height: 218px;
  margin-top: 30px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 711px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 1285px;
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 357px;
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-image-1 {
    height: NaNpx;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 483px;
  }

  .u-section-4 .u-group-2 {
    height: auto;
  }

  .u-section-4 .u-image-2 {
    height: 175px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 328px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 1201px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 273px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 273px;
  }

  .u-section-4 .u-image-2 {
    height: 128px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 428px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 1306px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 410px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 410px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    height: 222px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-wrap-1 {
    margin-top: 1073px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 258px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 258px;
  }

  .u-section-4 .u-image-2 {
    height: 137px;
  }
}